[Desktop Entry]
Name=COSMIC Applet Arch
Exec=cosmic-applet-arch
Terminal=false
Type=Application
StartupNotify=true
Icon=com.nick42d.CosmicAppletArch
Categories=COSMIC;Utility;
Keywords=Arch;Package;
MimeType=inode/directory;
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
