name: CD # Continuous Deployment

# NOTE: To use both this and release-plz, a personal access token was required. see here:
# https://release-plz.ieni.dev/docs/github/token

permissions:
  contents: read

on:
  release:
    types: [published]

defaults:
  run:
    shell: bash

jobs:
  upload-to-aur-test:
    name: Upload to AUR test
    if: startsWith(github.event.release.name, 'cosmic-applet-arch/v')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install linux deps
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends git libasound2-dev pkg-config makepkg
      - name: Echo package name
        run: |
          echo ${{ github.event.release.name }}
      - name: Clone aur
        run: |
          git clone https://aur.archlinux.org/youtui.git
          cd youtui && ls 
